* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osk-font-smoothing: grayscale

}

:root {
  --purple:#A020F0;
  --color-line:#A020F0;

   /*cores para texto*/
  --gray-light:#fff;
  --gray-dark:#8d8d99;

  /*cores para background*/
  --color-bg-dark:#16151E;
  --color-bg-light:#16151E;
  --color-bg-blueLight:#16151E;
  --color-bg-blueDark:#rgb(26, 21, 66);
 
  font-size: 62.5%;
}

body{
  background-color: #8d8d99;
  color: var(--dark);

}

body, input, textarea, button {
font-family: 'Titillium Web', sans-serif;
font-size: 1rem;
font-weight: 400;
}